
<%- include('header'); -%>


  <div class="box" id="heading">
    <h1><%= typeOfDay %> </h1>
  </div>

  
  <div class="box">
    <p>Here is your To Do List:</p>
    
   <% toDo.forEach(onetoDo => { %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=onetoDo._id%>" onChange="this.form.submit()">
        <p> <%= onetoDo.name %> </p>
      </div>
    </form>
   <% }); %>


    <form class="item" action="/" method="post"> 
      <input type="text" name="list" placeholder="Add to do item" autocomplete="off">

      <!-- newList will console Work list which is assigned to typeOfDay in the "/work" route -->
      <button type="submit" name="newList" value="<%= typeOfDay %>">+</button>
        </form>
  </div>
    

</html>

<%- include('footer'); -%>